{% extends "_base.html" %}
{% load static %}
{% load my_tags %}
{% load humanize %}


{% block title %}
  <title>ایجاد درس</title>
{% endblock title %}


{% block head %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />

<!-- FAVICONS ICON -->
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
<!-- Form step -->
<link href="{% static './vendor/jquery-smartwizard/dist/css/smart_wizard.min.css' %}" rel="stylesheet">
<!-- Custom Stylesheet -->
<link href="{% static './vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static './vendor/select2/css/select2.min.css' %}">
<link href="{% static './css/style.css' %}" rel="stylesheet">
<link href="{% static './css/custumize.css' %}" rel="stylesheet">
{% endblock head %}

{% block page_header_name %}
  ایجاد درس
{% endblock page_header_name %}

{% block content %}
<div class="content-body farsi">
    <div class="container-fluid " dir="rtl">
        {% include "message.html" %}
        <div class="row">
            <div class="col-xl-12 col-lg-12 "  style="font-size: medium ;">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title farsi "> درس را ایجاد کنید :</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form  action="{% url 'lesson_update' lesson.id %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-1 row">
                                    <label class="col-sm-2 col-form-label " >
                                        <b>نام درس : </b>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="{{lesson.name}}" laceholder="نام درس را اضافه کنید" style="margin-bottom: 0.5em;" required name="name">
                                    </div>
                                </div>
                                <div class="mb-1 row">
                                    <label class="col-sm-2 col-form-label " >
                                        <b>نام استاد : </b>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="{{lesson.master}}" laceholder="نام استاد را اضافه کنید" style="margin-bottom: 0.5em;" required name="master">
                                    </div>
                                </div>
                                <div class="mb-1 row">
                                    <label class="col-sm-2 col-form-label " >
                                        <b>ترم : </b>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" value="{{lesson.term}}" laceholder="ترم را اضافه کنید" style="margin-bottom: 0.5em;" required name="term">
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="mb-1 row form-material">

                                        <!-- <div class="mb-3 row"> -->
                                            <label class="col-lg-4 col-form-label" for="validationCustom05">رشته تحصیلی : 
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="default-select wide form-control" value="{{lesson.get_discipline_display}}" id="validationCustom05" name="discipline" style="text-align: right;"> <!-- text align = right -->
                                                    <option  data-display="">انتخاب کنید</option>
                                                    <option value="1" {% if lesson.discipline == "1" %}
                                                      selected
                                                    {% endif %}>پزشکی</option>
                                                    <option value="2" {% if lesson.discipline == "2" %}
                                                      selected
                                                    {% endif %}>پرستاری</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                                
                                <div class="mb-1 row">
                                    
                                </div>
                            <div class="mb-1 row">
                                <div class="col-sm-5"></div>
                                <div class="col-sm-5 " style="align-items: center;">
                                    <button type="submit" class="btn btn-primary ">ذخیره تغییرات </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



        
{% endblock content %}


{% block required_js %}
<script src="{% static './vendor/global/global.min.js' %}"></script>
<script src="{% static './vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
<script src="{% static './vendor/jquery-validation/jquery.validate.min.js' %}"></script>
<!-- Form validate init -->
<script src="{% static './js/plugins-init/jquery.validate-init.js' %}"></script>


<!-- Form Steps -->
<script src="{% static './vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
<script src="{% static 'vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

<!-- select 2 -->
<script src="{% static './vendor/select2/js/select2.full.min.js' %}"></script>
<script src="{% static './js/plugins-init/select2-init.js' %}"></script>

<script src="{% static './js/custom.js' %}"></script>
<script src="{% static './js/dlabnav-init.js' %}"></script>
<script src="{% static './js/demo.js' %}"></script>
<script src="{% static './js/styleSwitcher.js' %}"></script>
<script>
$(document).ready(function(){
    // SmartWizard initialize
    $('#smartwizard').smartWizard(); 
});
</script>
<script>
    $(function () {
        $('#datetimepicker').datetimepicker({
            inline: true,
        });
    });
    
    $(document).ready(function(){
        $(".booking-calender .fa.fa-clock-o").removeClass(this);
        $(".booking-calender .fa.fa-clock-o").addClass('fa-clock');
    });
    
    jQuery(document).ready(function(){
        setTimeout(function(){
            dlabSettingsOptions.version = '{{request.sessions.theme}}';
            new dlabSettings(dlabSettingsOptions);
        },1500)
    });
</script> 

{% endblock required_js %}