<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<p id="first_id">amrin</p>
	<p id="second_id">amrin</p>

<script>
	
  const externalButton = document.getElementById('first_id');
  const modalButton = document.getElementById('second_id');

  // Add an event listener to the external button
  externalButton.addEventListener('click', function() {
    // Change the value of the modal button
    modalButton.setAttribute('value', 'ali')
  });

	</script>
</body>

</html>