{% extends "_base.html" %}
{% load static %}
{% load my_tags %}

	
	{% block title %}
	<!-- PAGE TITLE HERE -->
	<title>Quiz Detail</title>
	{% endblock title %}
	

	{% block head %}
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <!-- Form step -->
    <link href="{% static './vendor/jquery-smartwizard/dist/css/smart_wizard.min.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="{% static './vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static './css/style.css' %}" rel="stylesheet">
    <link href="{% static './css/custumize.css' %}" rel="stylesheet">

	{% endblock head %}


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
	{% block page_header_name %}
		ویرایش آزمون
	{% endblock page_header_name %}       

    {% block content %}
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body farsi">
            <div class="container-fluid " dir="rtl">
				{% include "message.html" %}
                <div class="row page-titles farsi">
                    <ol class="breadcrumb" dir="rtl" style="text-align: right;">
                        <li class="breadcrumb-item active"><a href="">مدیریت آزمون</a></li>
                        <li class=""><a href="">
                            <span class="text-primary">&nbsp; / </span>
                             ویرایش سوالات 
                             </a></li>
                        <!-- <li class="breadcrumb-item"><a href=""></a></li> -->
                        <!-- <li class=""><a href="">طراح سوالات : {{quiz.quiz_maker}}</a></li> -->
                    </ol>
                </div>
				<div class=" card align-items-center "  dir="rtl" style="align-items: center;min-height: 3em;">
					<div class="" style="text-align: center;">
						<h4 class="mb-0" style="padding: 1em;">برای ویرایش  مشخصات آزمون <a class="text-primary" href="{% url 'quiz_update' quiz.id %}" style="font-size: large;font-weight: bold;;" class="">اینجا</a> کلیک کنید</h4>
						<!-- <a href="courses.html" class="btn btn-primary btn-sm">View all</a> -->
					</div>
				</div>
				<!-- <div class="content-body farsi	 "> -->

				<!-- </div> -->

				<!-- *****************************
					radi button start
				***************************** -->
				<!-- <form class="farsi"> -->
					<form class="farsi" method="POST" data-netlify="true"
						 enctype="multipart/form-data" action="{% url 'quiz_question_update' quiz.pk %}">
						<div class="row">
						{% for question in question_list %}		
							{% csrf_token %}
							{% if not question.is_deleted %}
							<div class="col-xl-6 col-lg-6" >
									<div class="card" dir="">
										<div class="card-header  " >
											<h4 class="card-title col-8">
												<span href="" class="badge  badge-primary" >
												{{forloop.counter|e2fnum}}
												</span> 
												{{question.text}}</h4>
												<!-- modal -->

											<div class="basic-form col-3">
												<!-- <form class="farsi"> -->
													<input type="text" hidden name="last-answer" value="{{question.answer}}">
													<select class="default-select form-control wide form-control-sm"
														name="{{question.id}}">
														<option
														{% if question.answer == '1' %} selected {% endif %}
														value="1">گزینه 1</option>
														<option
														{% if question.answer == '2' %} selected {% endif %}
														value="2">گزینه 2</option>
														<option
														{% if question.answer == '3' %} selected {% endif %}
														value="3">گزینه 3</option>
														<option
														{% if question.answer == '4' %} selected {% endif %}
														value="4">گزینه 4</option>
														
													</select>
													<br><br>
												<!-- </form> -->
												<div class="d-flex" style="align-items: center;" dir="ltr">
													<button type="button" onclick="deleteQuiz('{{question.id}}')"
														class="btn btn-danger shadow btn-xs sharp me-1" id="delete_button"
														data-bs-toggle="modal" data-bs-target="#exampleModalCenter"
														style="margin-left: 0.1em;">
														<i class="fa fa-trash"></i>
													</button>
													<a href="{% url 'question_update' question.id %}" class="btn btn-info shadow btn-xs sharp me-1">
														<i class="fas fa-pencil-alt"></i>
													</a>
												</div>	
											</div>
										</div>
										<div class="card-body">
											<div class="basic-form">
												{% if question.image %}
												<div id="" class="" style="text-align: center;"> 
													<a href="{{question.image.url}}" data-exthumbimage="images/big/img1.jpg" data-src="images/big/img1.jpg" class="col-lg-3 col-md-6 mb-4">
														<img class="image-container-zoom-cus" src="{{question.image.url}}" alt="" style="max-height: 10em;margin-right:1.5em;border-radius: 1em;display: block; margin: 0 auto;"/>
														<p style="font-size: 0.7em;white-space: nowrap;">با کلیک بر تصویر بزرگنمایی کنید.</p>
													</a>
												</div>
												{% endif %}
													<div class="row">
														<div class="col-xl-4 col-xxl-12 col-12">
															<div class="form-check  form-check-cus custom-checkbox mb-0 checkbox-info ">
																<!-- <div class="row"> -->
																	<!-- <input  type="text" value="" class="form-check-input form-check-input-cus" id="customRadioBox3" name="optradioCustom"> -->
																	<span class="form-check-input   left-forced-cus" > ۱ ) </span>
																	<label class="form-check-label form-check-label-cus" for="customRadioBox3" > {{question.choice_1}}</label>
																<!-- </div> -->
															</div>
														</div>
														<div class="col-xl-4 col-xxl-12 col-12">
															<div class="form-check  form-check-cus custom-checkbox mb-0 checkbox-info ">
																<!-- <input  type="radio" class="form-check-input form-check-input-cus" id="customRadioBox3" name="optradioCustom"> -->
																<span class="form-check-input   left-forced-cus" > ۲ ) </span>
																<label class="form-check-label form-check-label-cus " for="customRadioBox3" >{{question.choice_2}}</label>
															</div>
														</div>
														<div class="col-xl-4 col-xxl-12 col-12">
															<div class="form-check  form-check-cus custom-checkbox mb-0 checkbox-info ">
																<!-- <input  type="radio" class="form-check-input form-check-input-cus" id="customRadioBox3" name="optradioCustom"> -->
																<span class="form-check-input   left-forced-cus" > ۳ ) </span>
																<label class="form-check-label form-check-label-cus " for="customRadioBox3" >{{question.choice_3}}</label>
															</div>
														</div>
														<div class="col-xl-4 col-xxl-12 col-12">
															<div class="form-check  form-check-cus custom-checkbox mb-0 checkbox-info ">
																<!-- <input  type="radio" class="form-check-input form-check-input-cus" id="customRadioBox3" name="optradioCustom"> -->
																<span class="form-check-input   left-forced-cus" > ۴ ) </span>
																<label class="form-check-label form-check-label-cus " for="customRadioBox3" >{{question.choice_4}}</label>
															</div>
														</div>
													</div>
											</div>
											<!-- </form> -->
										</div>
									</div>
							</div>
							{% endif %}

						{% endfor %}

						<div>
						<div class="col-xl-2 col-lg-4">
							<div class="card" dir="rtl">
								<!-- <button type="button" name="delete_question" class="btn btn-primary farsi" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">حذف سوال</button> -->
									<!-- Modal -->
									<div class="modal fade farsi" id="exampleModalCenter">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content" >
												<div class="modal-header" dir="rtl">
													<h5 class="modal-title"> اخطار</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" dir="rtl" style="margin-right: -4.5em;">
													</button>
												</div>
												<div class="modal-body">
													<p>آیا از حذف  سوال اطمینان دارید ؟ </p>
												</div>
												<div class="modal-footer farsi">
													<button type="button" class="btn btn-dark light" data-bs-dismiss="modal">لغو</button>
													<button type="submit" class="btn btn-primary" name="delete_question" value="" id="delete"> حذف </button>
												</div>
											</div>
										</div>
								</div>																						
								
							</div>																																																																																				
						</div></div>
						
						
					</div>
					<div class="row">
						<div class="col-xl-4 col-lg-4"></div>
						<div class="col-xl-4 col-lg-4">
							<div class="card " dir="rtl">
								<button type="submit" class="btn btn-success" >ذخیره</button>
							</div>
						</div>	
						<div class="col-xl-4 col-lg-4"></div>
					</div>
				</div>
			</form>
			<!-- *****************************
				radi button end
				***************************** -->
			</div>
		</div>
		
        <!--**********************************
            Content body end
			***********************************-->
			
			
    {% endblock content %}




        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

	
    
    <!--**********************************
        Scripts
        ***********************************-->
	{% block required_js %}
	<!-- {{ block.super }} -->
        <!-- Required vendors -->
	<script src="{% static './vendor/global/global.min.js' %}"></script>
		<!--  -->
	<script src="{% static './vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static './vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <!-- Form validate init -->
    <script src="{% static './js/plugins-init/jquery.validate-init.js' %}"></script>
	<script src="{% static './vendor/lightgallery/js/lightgallery-all.min.js' %}"></script>

	<!-- Form Steps -->
	<script src="{% static './vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
	<script src="{% static 'vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	
	<script src="{% static './js/custom.js' %}"></script>
	<script src="{% static './js/dlabnav-init.js' %}"></script>
	<script src="{% static './js/demo.js' %}"></script>
    <script src="{% static './js/styleSwitcher.js' %}"></script>
	<script>
        $(document).ready(function(){
            // SmartWizard initialize
			$('#smartwizard').smartWizard(); 
		});
		// lightGallery(document.getElementById('gallery-hash-demo-1'), {
		// 	galleryId: 1
		// });
		
		// lightGallery(document.getElementById('gallery-hash-demo-2'), {
		// 	galleryId: 2
		// });
		// lightGallery(document.getElementById('gallery-hash-demo-3'), {
		// 	galleryId: 3
		// });

	</script>
	<script>
		function deleteQuiz(quiz_id){
		var button = document.getElementById('delete');

		button.value = quiz_id;}
	</script>
	<script>
		// function multipleLightGallery(lightGalleryId){
		// lightGallery(document.getElementById(lightGalleryId), {
		// 	galleryId: lightGalleryId
		// });
		// }
	</script>
<script>
	function zoomImage() {
	  const img = document.getElementById('zoomImg');
	  img.classList.toggle('zoomed');
	  document.body.addEventListener('click', function(event) {
		if (!img.contains(event.target)) {
		  img.classList.remove('zoomed');
		}
	  });
	}
  </script>
    {% endblock required_js %}



</html>



